@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    color: black;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    height: 100vh;
}

.app {
    display: grid;
    grid-template-columns: 300px 1fr;
    overflow: hidden;
    height: 100%;
}

/* * side bar * */

aside{
  background-color: #202731;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

/* date form */

.date{
  margin: 40px 20px;
}

.date-form{
  display: flex;
  flex-direction: column;
}

.date-form button{
  background-color: #bb014b;
    color:#fff;
    padding: 12.50px 30px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

input[type="date" i]{
  border: none;
  border-bottom: 1px solid white;
  margin: 20px 0;
  color: #fff;
  width: 100%;
  padding: 3px 0;
  font-size: 14px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}

/* all date categories */

.all-date{
    margin: 0px 20px;
}

.all-date h1{
  font-size: 18px;
  padding-bottom: 20px;
}

.all-date ul{
  list-style: none;
  font-size: 16px;
  cursor: pointer;
}

.all-date li{
  padding: 5px 0;
}

label{
  display: flex;
}

label p{
  padding-left: 10px;
}

/* * main * */

header{
  /* background-color: #bb014b; */
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding: 30px 0px;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 16px;
  padding: 10px;
}

.form span {
  color: #bb014b;
}

/* timer */

.pomodoro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  
}

.label {
  display: flex;
  font-size: 18px;
}

.label p {
  padding: 10px;
  opacity: 0.2;
}


.label p.time, span{
  opacity: 1;
  padding: 10px 2px;
}

.label p.active {
  opacity: 1;
  color: #bb014b;

}

.circle .time {
  display: flex;
  font-size: 18px;
}

.play button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  padding-left: 20px;
}

.play #pause {
  display: none;
  font-size: 18px;
  padding-left: 20px;
}


/* to do input list */

.task-input {
  display: flex;
  padding: 0 20px;
}

.task-input input {
  height: 100%;
  width: 100%;
  padding: 0 20px 0 20px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid black;
}

.task-input input::placeholder {
  color: grey;
}

.task-input input:focus{
  outline: none;
}

.task-input select{
  outline: none;
  background-color: transparent;
  border: 0;
  padding: 0 10px;
  margin: 0 10px;
}

/* * section * */

.controls {
  display: flex;
  align-items: center;
  padding: 18px 25px;
  justify-content: space-between;
}

.controls .clear {
  display: flex;
  align-items: center;
}

.controls i {
  padding: 10px;
}

.filters span {
  cursor: pointer;
  margin: 0 8px;
  font-size: 18px;
}

.filters span.active {
  color: #bb014b;
}

.controls .clear-btn {
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  background: #bb014b;
  border-radius: 4px;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.task-box {
  margin: 20px 25px;
  height: 500px;
  overflow: auto;
}

.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.task label {
  display: flex;
  color: #202731;
}

.task label p.checked {
  text-decoration: line-through;
}

.task label input {
  margin-top: 2px;
  margin-right: 12px;
}


/* edit & delete setting */

.task .setting {
  cursor: pointer;
}

.task-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-menu li {
  margin-right: 12px;
  cursor: pointer;
}

.task-menu li {
  margin-right: 12px;
  cursor: pointer;
}

.task-menu .trash :hover {
  color: red;
}

.task-menu .edit :hover {
  color: #999;
}
